#!/bin/sh

## hyphop ##

#= system audio config

VOL_CTRL_NAME="Khadas Tone Control "
VOL_CTRL_IDX=0

## plz dont change next if u dnot know how

LOOP_IN=hw:CARD=Loopback,DEV=1
LOOP_OUT=hw:CARD=Loopback,DEV=0


MPD_MUSIC_DIR=~/.mpd/music
MPD_STATUS_DIR=/var/run/mpd
MPD_STATUS_DATA=$MPD_STATUS_DIR/mpd.status.data

[ -d "$MPD_STATUS_DIR" ] || \
    mkdir -p "$MPD_STATUS_DIR"

VOL_CTRL_VOL="'$VOL_CTRL_NAME', $VOL_CTRL_IDX"

[ "$SOCKET" ] || \
SOCKET=/var/run/mpd.socket
